{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script src="https://kit.fontawesome.com/d4a0a8d161.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> -->
    <title>Roster For AP</title>
</head>
<style>
    /* Add this style to remove the scrollbar and empty space */
    body {
        overflow-x: hidden;
    }

    .container {
        overflow-x: hidden;
    }
    
    @media (min-width:300px) and (max-width: 400px) {
    .btn-warning{
        margin-top: 20px !important;
       margin:0 auto;
    }
}

</style>
<body>
    <div class="spacker_section">
        <div class="container-fuild">
            <div class="row">
                <div class="col-lg-12 col-12 mt-5">
                    <h1 class="text-light text-center text-dark">Welcome to Roster for AP</h1>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="container ps-0">
            <div class="row">
                <div class="back-btn d-flex justify-content-between">
                   <a class="btn btn-warning" href="/">Back</a>
                </div>
                <!-- <div class="column is-full">
                    <div class="back-btn">
                        <button type="button" class="btn btn-warning back-btn-link "><a href="index.html">Back</a></button>
                    </div>
                    <div class="d-flex justify-content-center  mb-5 mt-5">
        
                        <div class="d-flex">
                            <div>
                                <input class="form-control" type="text" placeholder="Enter the Name" id="contact-filter">
                            </div> &nbsp;&nbsp;&nbsp;
                            <div>
                                <button type="button" class="btn btn-warning" id="searchBtnone">Search</button>
                            </div>
                        </div>
        
        
                    </div>
        
                </div> -->
                <div class="column mt-5">
                    <div class="row">
                        <div class="col-12">
                            <table id="contact-table" class="table is-fullwidth is-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone number</th>
                                        <th>Place</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                
                                <tbody id="table-body">
                                {% for items in oSpeakers %}
                                <tr>
                                    <td>{{items.Name}}</td>
                                    <td>{{items.Phonenumber}}</td>
                                    <td>{{items.Place}}</td>
                                    <td>{{items.a_Date}}</td>
                                </tr>
                                {% endfor %}
                                    <!-- Data will be dynamically added here -->
                                </tbody>
                              
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{% static 'assets/js/filter-table.js' %}"></script>
    <script src="{% static 'assets/js/style.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
        (function ($) {
            $(document).ready(function () {
                var table = $('#contact-table').DataTable({
                    paging: true,
                    pageLength: 10
                });
                // Initialize filterTable plugin
                table.filterTable('#contact-filter');
            });
        })(jQuery);
    </script>
    
   

</body>

</html>